.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.styleLoader{
  position: relative;
  background: beige;
  justify-content: center;
  display: flex;
  align-items: center;
}
