.image{
  width: 75%;
}
.title{
  font-size: 35px;
  color: '#2F281E';
  font-weight: 800;
  line-height: 40px;
  font-family: 'Montserrat-Bold';
}
.description{
  font-size: 25px;
  color: '#544837';
  font-weight: 500;
  line-height: 40px;
  font-family: 'Montserrat';
  width: 75%;
}
.viewChooseAnki{
  margin-bottom: 100px;
}

.image_container{
  width: 70%;
  margin: auto;
}

@media (max-width: 700px) {
  .title{
    font-size: 25px;
  }
  .description{
    font-size: 20px;
    width: 100%;
  }
  .viewChooseAnki{
    margin-bottom: 25px;
  }
  .image{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .image_container{
    width: 100%;
    margin: auto;
  }
}
